p {
    color: red;
}

.contacts {
    color: blue;
    font-size: 18;
}

#address {
    font-weight: bold;
}

h3.heading-3 {
    color: aqua;
}

h3 {
    color: cornflowerblue;
}

h3 {
    color: darkviolet;
}

ul li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21;
}

#welcome-message {
    color: rgb(51, 2, 97);
    background-color: #0095ff;
    /* opacity: 0.6; */
    /* font-family: 'Broadway Regular'; */
    font-size: 10px;
    font-weight: bolder;
    font-style: italic;
}

i {
    text-transform: uppercase;
}

b {
    text-transform: lowercase;
}

u {
    text-transform: capitalize;
}

span#content {
    /* Overline: overline */
    /* Line-through: line-through */
    /* Underline: underline */
    text-decoration: underline;
}

div#content-wrapper {
    text-align: center;
    text-shadow: 5px 3px 5px #c30000;
}

div#left-content {
    text-align: left;
}

div#right-content {
    text-align: right;
}

p#indent {
    text-indent: 20px;
}

span#letter-spacing {
    letter-spacing: 10px;
}

span#word-spacing {
    word-spacing: 10px;
}

ul#ul-list-styled {
    /* none
    disc
    circle
    square */
    list-style-type: square;
}

ol#ol-list-styled {
    /* decimal-leading-zero
    lower-alpha
    lower-roman
    upper-alpha
    upper-roman */
    list-style-type: decimal-leading-zero;
    list-style-position: inside;
}

ol#nested-list {
    list-style-type: square;
}

ol#ol-list-styled ol {
    /* Shorthand for list-style-type and list-style-position */
    list-style: inside upper-alpha;
}

div#image {
    border: solid thin #000; /* Add border */
    padding: 20px; /* add space inside the div */
    height: 200px; /* set the height */
    margin-top: 20px; /* set the margin top */
    background-image: url('cat.jpg'); /* image */
    background-size: contain; /* set the size of our image */
    background-repeat: repeat; /* to show repeatedly or not */
}

div#bird {
    width: 100%;
    height: 1500px;
    border: solid thin #000;
    background-color: #000;
    background-image: url('bird.jpg');
    background-size: 300px 300px;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    /* background: #000 url('bird.jpg') no-repeat scroll center center; */
}

table {
    margin-top: 30px;
    border: solid thick #000;
    width: 100%;
    empty-cells: hide;
    /* border-collapse: collapse; */
    border-spacing: 10px 30px;
    background-color: rgba(250, 128, 114, 0.7);
}

table td {
    padding: 20px;
    text-align: center;
}

table thead td {
    border: solid thin #0095ff;
    font-weight: bold;
    font-size: 20px;
}

table tbody td {
    border: solid thin red;
}

.name {
    text-decoration: underline;
}

#box-model {
    text-align: left;
    /* Border Styles that we can use:
    solid, dotted, dashed, groove, ridge, inset, outset */
    border: 10px groove yellow;
    border-radius: 20px 10px 5px 30px;
    /* margin: 20px; 1-value margin */
    /* margin: 20px 30px; */
    margin: 40px 40px 40px 40px;
    /* margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px; */

    /* Make the right padding 30px, left 20px, top 0, bottom 50px */
    padding: 0px 30px 50px 20px;

    width: 200px;
    height: 30px;
    /* overflow: scroll; - To show all the scrollbars */
    /* overflow-y: scroll; - To show only horizontal scrollbar */
    /* overflow-x: scroll; - To show only vertical scrollbar */
    /* overflow-y: hidden; - To show only vertical scrollbar */
    /* overflow-x: hidden; - To show only horizontal scrollbar */
    overflow-x: hidden;

    box-shadow: 20px 20px 50px 10px rgb(38, 132, 247);

    margin: 50px auto; /* To center an element */
}

#float-left {
    float: left;
    border: 5px dashed #0096ff;
    padding: 10px;
    clear: both;
}

#float-right {
    float: right;
    border: 5px dotted #000;
    padding: 10px;
    clear: both;
}

#text-center {
    text-align: center;
}

#position-relative {
    border: 5px solid blue;
    position: relative;
    top: 100px;
    left: 50px;
}

#position-absolute {
    border: 5px solid red;
    position: absolute;
    top: 50px;
    left: 100px;
}

#position-fixed {
    border: 5px solid purple;
    position: fixed;
    top: 200px;
    left: 300px;
}

#block-element {
    display: block;
}

#inline-element {
    display: inline;
}

#inline-block-element {
    display: inline-block;
}

#display-none {
    display: none;
}